.block {
  text-align: center;
}

.title {
  font-size: 144px;
  font-weight: bold;

  color: #fff;
}

.text {
  color: #fff;
}

@media (max-width: 576px) {
  .title {
    font-size: 96px;
  }

  .text {
    font-size: 14px;
  }
}
