.question {
  position: relative;

  width: 50%;

  padding: 40px;

  text-align: center;
}

.question:before {
  content: "";

  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);

  border: 20px solid transparent;
  border-left: 20px solid #fff;
}

.title,
.questionTitle {
  margin-bottom: 40px;
}

.title {
  position: relative;

  display: inline-block;

  font-size: 20px;
}

.title:before {
  content: "";

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);

  width: 50%;
  height: 1px;

  background-color: #0f0c29;
}

.image {
  display: block;

  width: 200px;
  height: 200px;

  margin: 0 auto 40px auto;

  border-radius: 50%;

  object-fit: cover;
}

.questionTitle {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
}

.paginationItem {
  width: 8px;
  height: 8px;

  border-radius: 50%;

  background-color: #ccc;
}

.paginationItem.active {
  background-color: #0f0c29;
}

.paginationItem:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .question {
    width: 100%;
  }

  .question:before {
    content: none;
  }
}
