.answer {
  width: 50%;

  padding: 40px;

  text-align: center;

  background-color: #0f0c29;
}

.title {
  position: relative;

  display: inline-block;

  font-size: 20px;
  text-transform: capitalize;

  margin-bottom: 40px;

  color: #fff;
}

.title:before {
  content: "";

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);

  width: 50%;
  height: 1px;

  margin: 0 auto;

  background-color: #fff;
}

@media (max-width: 768px) {
  .answer {
    width: 100%;
  }
}
